p
{
    font-family:cursive;
    background-color: antiquewhite;
}
body
{
background-color: yellow;
}
h1
{
    color: red;
 background-color: skyblue;
}
button
{
    background-color: green;
    color:red ;
}