/* flex parent properties */
.container
{
    height: 400px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse;*/
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* gap: 10px; */
    gap: 10px;
    flex-flow: wrap row;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   justify-content: center;
   align-items:center;
   /* align-content: flex-start; */
   align-content: space-evenly;
} 
.box
{
    border: 2px solid green ;
    margin: 15px 0;/*10 px is for top and bottom whereas 0px is for left right*/
    width: 100px;
}