*
{
    box-sizing: border-box;
}
.container
{
    height: 400px;
    border: 2px solid red;
    display:  flex;
    gap: 10px;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    /* align-content:space-evenly;
 */
}
.box
{
    border: 2px solid green;
    width: 80px;
}
#box-3 {
    /* order: 1;
    flex-grow:1;
    flex-shrink: 2; */
    /* flex-basis: 200px; */
    /* flex:0 2 200px; */
    /* align-self: stretch; */
    align-self: flex-end;
}
/* #box-2
{
    /* order: 2;
    flex-grow: 2; 
} */