*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    margin: 0px;
    background-color: teal;
    height: 100vh;
    display: flex;
    align-items: center;/*brings in center of y axis*/
    justify-content: center;/* brings in center of x axis*/
}
.container
{
    width: 300px;
    height: 300px;
    border: 2px solid white;
}
.box
{
    background-color: white;
    height: 100px;
    width: 100px;
    animation-duration: 1s;
    animation-delay:0.1s ;
    animation-iteration-count:infinite ;
    animation-direction:normal ;
    animation-timing-function:linear ;
    animation-name: slide-in ;
    animation-name: orbit ;
}
@keyframes orbit {
    from 
    {
        transform: rotate(0deg);
    }
    to  
    {
        transform: rotate(360deg);
    }
}
@keyframes slide-in {
    0%
    {
        transform: translate(-400px);
    }
    100%
    {
       transform: translate(200px);
    }
    
}