*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    margin: 0px;
    background-color: teal;
    height: 100vh;
    display: flex;
    align-items: center;/*brings in center of y axis*/
    justify-content: center;/* brings in center of x axis*/
}
.container
{
    width: 300px;
    height: 300px;
    border: 2px solid white;
}
.box
{
    background-color: white;
    height: 100px;
    width: 100px;
    /* transition: 1s ease ; */
    animation-name:circles ;
    animation-duration: 5s;
    animation-delay:0.1s ;
    animation-iteration-count:infinite ;
    animation-direction:alternate-reverse ;
    animation-timing-function:ease-in ;
}
/* .box:hover
{
   transform: translateX(200px);
} */
@keyframes circles/*we want to define such keyframe which will move these box in circle */
{
/* in keyframe hum define krr skte hai ki kis time pr hume kya krna hai */
    0%{
/* yha hum define krenge ki 0% ke time pr kya krna hai */
       transform: translate(0, 0);/*jha prr hai vhi prr rhega*/
    }
    25%{
        /* yha hum define krenge ki 25% ke time pr kya krna hai  */
    transform: translate(200px, 0);
    }
    50%{
       /* yha hum define krenge ki 50% ke time pr kya krna hai */
       transform:translate(200px,200px) ;
    }
   75%{
        /* yha hum define krenge ki 75% ke time pr kya krna hai  */
      transform:translate(0px,200px);
    }
}