/* below import is copied from fonts.google.com for roboto and poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,700;1,400&display=swap');
/* resets */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
 {
  /*  making global variable by own that is user-defined global variable */
    --primary-text-color:#0d0a24 ; /* primary color of the website*/
    --secondary-text-Color : #4CAF50;   /* secondary color of the website*/
    --textColor :#ffffff;    /* text color of the website*/
    --bgColor : #f8f9fa;     /* background color of the website*/
    --accent-color-text:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body
{
    font-family: 'Poppins',sans-serif;
    color:var(--primary-text-color);
    background-color: var(--bgColor);

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3
{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color:var(--secondaryColor);
    line-height: 1.25rem;/* used to give space between the lines*/
}
a{
    display:inline-block;
}
ul
{
    list-style: none; /* removes the dot of list*/
}
/* utility classes */
.small-bold-text
{
    font-size: 1rem;
     font-weight: 700;/*to make the font bold */
}
.container
{
    
max-width: 1180px;
margin-inline: auto;/* to give margin in left and right and due to auto container will come at the center*/
padding-inline: var(--padding-inline-section);/*used to give padding in left and right */
overflow: hidden;/*the things which were overflowing that will not overflow because they will not been seen */

}
.flex
{
    display:  flex;
    align-items: center;/* all the children of class flex will come at the center of parent class flex*/
}
.hover-link
{
    color:var(--primary-text-color);/* give text color to products,Customers,pricing links in nav bar*/
}
.hover-link:hover/* changes that will occur while we hover on class hover-link*/
{
    color: var(--accent-color);
    transition: 0.2s ease-out;/*isse jaise hmara hover hatega products,customers etc se ooske 0.2second ke baad color change hoga*/
}
.primary-button
{
    background-color: var(--accent-color);
    color: white !important;/*bcoz of important color will be white only under any circumstances */
    border-radius: 5px;
    font-weight: 800;
    padding: 8px 18px;
    box-shadow: 0 0 2px var(--primary-text-color);/* x(0) y(0)  shadow(2px) shadow_color(var())*/
    text-align: center;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);/* change in color while hovering*/
}
.secondary-button
{
    
    color: var(--accent-color) !important;/*bcoz of important color will be white only under any circumstances */
    border-radius: 5px;
    font-weight: 800;
    padding: 8px 18px;
    box-shadow: 0 0 2px var(--primary-text-color);/* x(0) y(0)  shadow(2px) shadow_color(var())*/
}
.secondary-button:hover{
    background-color: var(--accent-color-dark) ; /*change in color while hovering*/
    border-color:var(--accent-color); /*change in color of border when we hover */

}

/* top-banner */
.top-banner
{
    background-image: url('assets/asset\ 31.svg');
    background-color: #4099a8;
    background-size: 100px;/*used to give size of image used int he background */
    
}
.banner-text
{
  color:rgb(236, 236, 235);
  font-weight: 1000;
  padding:  15px 30px;
  text-align: center;
}

/* li
{
    display: inline-block;   
    margin: 5px;
    border: 2px solid black;  
} */
/* nav- bar */
.main-nav
{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;/* bcoz of this there will be space between image and ul and list will go the rightmost side*/
}
.company-logo img
{
    width: 125px;
}
.nav-links
{
    flex-basis: 700px;/*bcoz of this width of nav-links will be 700px*/
}
.nav-links ul{
   gap:40px;/* brings gap between the list product sign-in etc  */
  justify-content:end;/*because of this children of <ul> which is <li> will always be at right side*/
}
.nav-toggle
{
    display: none;
}
/* header */

header {
    padding: 50px var(--padding-inline-section) 0;
}
.header-section
{
    justify-content:center;
    /* justify-content:center; used bcoz flex property is assigned to header-section  */
    gap:50px;/*gap seen between the children(i.e. header-right and header-left ) of header section */

}
.header-right img
{
    width:100%;/* header-right img will take 100% width w.r.t 40vw of header-left*/
}
.header-left
{
    width: 40vw;
    /* the max-width of paragraph in header-left cant be more than 40px */
}
h1 ,.get-started-btn{
    margin: 20px;
}
/* Companies-Section */
.logos
{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logos img
{
   
    width: 150px;
    margin: 20px 30px;
}
/* features-section */
.features-section
{
    padding: 80px var(--padding-inline-section) 0;
   background-image: url(image2.jpg);
   background-repeat: no-repeat;/*background image will not repeat*/
   background-position: center;/*background image will come to the center*/
}
.features-heading-text
{
    margin:0 0 20px ;
}
.features-header
{
   margin-bottom: 40px;
    text-align: center;/* <h2> and secondary-button will come to the center*/
}
.features-area
{
  flex-wrap: wrap;  
  justify-content: space-between;/*childreni.e features-card will have equal space between them*/
  margin-top: 30px;
  gap: 20px;
}
.features-card
{
    flex-direction:column;/*bcoz of this img,p,h3,secondary-button will lie vertically one below other */
     gap: 20px;/*gap between img,p,h3,secondary-button will be of 20px*/
     max-width: 30%;/* all features-card will take max-width of 30% as we have given flex-wrap to flex-area 
     which is parent of features-card*/
     text-align: center;
}
/* big-feature-section */

.feature-image img{
    width: 100%;/*takes 100% width with rescpect to it's parent */
}
.big-features-section
{
    padding: 30px var(--padding-inline-section) o;
}
.big-feature-container
{
    gap: 30px;
    
}
#second-big-feature
{
    flex-direction: row-reverse;
}
.feature-disc
{
    flex-direction: column;/* h3,h4 and p will lie one below other due to this column*/
    align-items: flex-start;
}
/* example-section */
.examples-section
{
padding: 80px var(--padding-inline-section);
}
.examples-header
{
    text-align: center;/*here secondary-button will come to the center due to  this */
    flex-direction: column;
    text-align: center;
}
.examples-heading-text
{
    margin-bottom: 20px;
}
.examples-area
{
   gap: 10px;
    margin: 30px 0 30px 0;
    flex-wrap: wrap;
}
.examples-card:hover
{
    box-shadow: 0 0 10px #888;/* shadow will come when we hover over it*/
}
.examples-card 
{
    width:23%;
    position: relative;
    height: 300px;/* height will always be of 300px less than 300px will not happpen */
    background: black;
  background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)),url(image7.jpg);/* gives background-image as well as opacity due to linar gradient()*/
  background-size: cover;/*this adjust the sixe of image if it's to big */
  /* background-size must be defined just after background or background-image if we do so then only background-size will work */
}
.examples-card:nth-child(3)/*this style willl only been seen in 3rd examples-card */
{
    background-image: url(image2.jpg);
    background-size: cover;/*this adjust the sixe of image if it's to big */
}
.examples-card:nth-child(4)/*this style willl only been seen in 3rd examples-card */
{
    background-image: url(image3.jpg);
    background-size: cover;/*this adjust the sixe of image if it's to big */
}
.examples-card:nth-child(5)/*this style willl only been seen in 3rd examples-card */
{
    background-image: url(image4.jpg);
    background-size: cover;/*this adjust the sixe of image if it's to big */
}
.examples-card:nth-child(2)/*this style willl only been seen in 3rd examples-card */
{
    background-image: url(image5.jpg);
    background-size: cover;/*this adjust the sixe of image if it's to big */
}
.card-text
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
   color: white;
   
}
/* cta-section */
.cta-section-container
{
    flex-direction: column;
    gap: 50px;
    color: white;
     margin-bottom: 20px;
     text-align: center;
}
.cta-section-container
{
    background-color: #032642;
    padding: 120px var(--padding-inline-section) 80px;
}
.cta-section-container p{
    color: white;
    margin-top: 20px;
}
/* footer-section */
.footer
{
    padding-block: 80px;/*for top and bottom */
    background:#bbc9d3 ; 
}
.link-column
{
    flex-direction: column;
    gap: 20px;
}
.footer-container
{
    align-items: flex-start;
    justify-content: space-between;
}
/* sub-footer */
.subfooter
{
    background: #9fc3de;
    padding: var(--padding-inline-section);
}
.subfooter-container
{
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


