*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    height: 400px;
    border: 2px solid red;
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: repeat(3,200px);
    /* justify-content: space-between; */
    /* align-content: center; */
    /* align-items: center; */
}
.box
{
    border: 2px solid green;
    padding: 12px;
}
#box-1
{
    background-color: bisque;
    /* justify-self: center; */
    /* align-self: end; */
    /* grid-column-start:1 ;
    grid-column-end: 3; */
    /* grid-column: 1/-1; */
    /* grid-row: 1/3; */
    grid-area: 1/1/4/3;
}