*
{
    box-sizing: border-box;
}
body
{
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.container
{
    height: 400px;
    width: 400px;
    background-color: teal;
    margin: 50px;
}
.box
{
    height: 100px;
    width: 100px;
    background-color: wheat;
    margin-left:10% ;
}
.outer
{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: gray;
    font-size: 20px;
}
.inner 
{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    font-size: 1.5em;
    padding: 1em;
}