main
{
border:5px dotted red ;
/* width:50%; */
width:25%;

}
section{
    border:5px dashed green;
    width:50vw;
    height:50vh;

}
body{
    font-size: 2em;
}
header{
    font-size: 2em;
    
}
h1{
    font-size: 3rem;
}