*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav
{
    width: 100%;
    height: 60px;
    background-color:blue;
    position: fixed;
    top:0;
    z-index: 1;
    border: 2px solid black;
    
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;

}
main
{
    width:50%;
    height: 445vh;
    border: 5px solid black;
    position:absolute;
    left:10%;
    right: 30%;
    padding: 110px 50px;
    
}
.aside-container
{
    width: 100%;
    height: 150vh;
    position: absolute;
    top:0;
}
aside
{
    width:200px;
    background-color: plum;
    height: 80vh;
    position: sticky;
    top: 70px;
   float:right;
}
.contact
{
    width: 80px;
    height: 80px;
    position: fixed;
    right: 40px; 
    bottom:40px;
    border-radius: 40px;
    background-color: red;
}
.footer
{
    width: 100%;
    height: 200px;
    background-color: beige;
}