*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.box
{
    margin: 100px auto;
    width: 200px;
    height: 200px;
    background-color: teal;
    transition-duration:2s ;
transition-property: all;/*it will take 1sec to change the style like  teal to purple when we hover */
/* transition-delay:1s ; */
transition-timing-function:cubic-bezier(0.42, 0, 1,-0.83);
}
.box:hover
{
background-color: purple;
border-radius: 50%;
transform: scale(1.2);
/* transform: rotate(180deg); */
}