*
{
    border: 1px solid black;
    box-sizing:border-box;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    height: 180px;
    width: 200px;
    display: none;
}
p{
    display: inline-block;
    height: 100px;
    width: 200px;
    
}
ul{
    margin: 10px;
   text-align:end;
    /* list-style:none; */
    padding: 4px;
    font-size:30px;
    color: white;
    background-color: black;
}
li{
    display: inline-block;  
    padding: 20px; 
    
}
a{
   margin: 40px;
}
li:hover
{
    color: violet;
    cursor: pointer;
}