*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    background-color: aqua;
    height: 400px;
    width: 400px;
    margin: 80px auto;/*left and right se auto so that container is in center */
}
.box
{
    width: 200px;
    height: 200px;
    background-color: red;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex; justify-content: center;align-items: center; will bring "Box" text to center */
    /*transform: scale(2);will make big and small depending on the number in scale()*/
    /* transform: skew(20deg,40deg); */
    /* transform: translate(-50px,-100px); */
    /* transform: rotateZ(60deg); */
    transition: 0.5s ease ;
      transform-origin:100px 200px;
}
.box:hover
{
    transform: rotate(45deg);
}